/* Styles for the dropdown navigation menu */

#menu {
    list-style-type: none;
    margin: 10;
    padding: 20;
  }
  
  #menu li {
    display: inline-block;
    margin-right: 10px;
  }
  
  #menu li a {
    text-decoration: none;
    padding: 25px;
    border: 5px solid #121111;
    border-radius: 15px;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #141313;
    padding: 5px;
    border: 1px solid #141313;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;}